<ion-view>
<ion-content scroll="false">
<td-cards>

  <td-card ng-repeat="card in cards | orderBy: 'id'" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="userSwipedRight($index)">
    <div class="card">

      <div class="wrap">
        <h3 class="vwo-name"><a href="#">{{card.vwo_name}}</a></h3>
        <h2 class="title">{{card.title}}</h2>
        <p class="date">{{card.date}}</p>

        <div class="row location-beneficiary">
          <div class="col">
            <img src="img/icons/Location-Icon.svg">
            {{card.location}}
          </div>
          <div class="col">
            <img src="img/icons/Cause-Category-Icon.svg">
            {{card.beneficiary}}
          </div>
        </div>
      </div>

      <img class="banner" src="{{card.banner_url}}">

      <div class="wrap">
        <div class="row">
          <div class="col">
            <span class="stat">{{card.n_signed_up}}</span>
            <p>Volunteers<br> signed up</p>
          </div>
          <div class="col">
            <span class="stat">{{card.commitment}}</span>
            <p>Level of Commitment</p>
          </div>
          <div class="col">
            <span class="stat">{{card.days_left}}</span>
            <p>Days to go</p>
          </div>
        </div>

        <progress value="{{card.progress}}", max="100">{{card.progress}}%</progress>

        <p class="needed">
        {{card.n_needed}} Volunteers needed
        </p>
      </div>

    </div> <!-- marks end of card -->

  </td-card>
</td-cards>

</ion-content>

<ion-footer-bar>
<div class="bar bar-footer controls row">
  <div class="col text-right">
    <button class="button" id="pass" ng-click="pass()"></button>
  </div>

  <div class="col text-center">
    <button class="button" id="more-info" ng-click="moreInfo()"></button>
  </div>

  <div class="col text-left">
    <button class="button  pull-right" id="save" ng-click="userPressedSave()"></button>
  </div>
</div>
</ion-footer-bar>
</ion-view>
