body {
  font-size: 16px;
  line-height: 1.5;
}

.brand {
  font-style: italic;
  font-weight: bold;
  padding-left: 0.2em;
  font-size: 1.5em;
  position: relative;
  bottom: 1px;
}

.opp {
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
  background: white;

  .vwo-name {
    text-align: center;
  }

  .title {
    text-align: center;
    color: $stable;
    font-size: 1.6em;
    font-weight: bold;
  }

  .date {
    text-align: center;
  }

  .location, .beneficiary {
    text-align: center;
    display: inline-block;
    width: 50%;
  }

  img.banner {
    display: block;
    width: 100%;
  }
}

.td-card {
  position: absolute;
  width: 100%;
}
