body {
  font-size: 16px;
  line-height: 1.5;
}

.bar-header {
  height: 3.2em;
  padding-top: 0.5em;
}

.brand {
  font-style: italic;
  font-weight: bold;
  padding-left: 0.2em;
  font-size: 1.5em;
  position: relative;
  bottom: 1px;
}

.menu-button {
  background: url('../img/nav/Menu-icon.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 9px 7px;
}

.pocket {
  width: 32px;
  height: 32px;
  background: url('../img/nav/Pocket-Icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 6px;
  padding-right: 5px;
  margin: 3px 4px;
  font-size: 0.8em;
  font-weight: bold;
}

.filter {
  width: 64px;
  height: 32px;
  background: url('../img/nav/filter.svg');
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 0.8em;
  margin: 10px 7px;
}

.divider {
  margin: 0 4px;
}

.opp {
  .wrap { padding: 0 0.5em}

  border: 1px solid $dark;
  margin: 5px;
  padding-top: 1em;
  border-radius: 5px;
  background: white;
  color: $dark;

  .vwo-name {
    text-align: center;
    font-weight: normal;
    a { color: $dark };
  }

  .title {
    text-align: center;
    color: $stable;
    font-size: 1.6em;
    font-weight: bold;
  }

  .date {
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
  }

  .location-beneficiary {
    text-align: center;
  }

  img.banner {
    display: block;
    width: 100%;
  }

  .stat {
    font-size: 1.5em;
    font-weight: bold;
  }

  .needed {
    font-size: 1.5em;
    font-weight: bold;
  }
} // end .opp

.td-card {
  position: absolute;
  width: 100%;
}

.controls {
  .col {
    padding: 0;
  }

  #pass, #more-info, #save {
    background-repeat: no-repeat;
    height: 41px;
    padding: 0;
    border: none;
  }

  #pass {
    background: url('../img/buttons/Pass-Button.png');
    width: 105px;
  }

  #more-info {
    background: url('../img/buttons/More-Info-Button.png');
    width: 137px;
  }

  #save {
    background: url('../img/buttons/Save-Button.png');
    width: 105px;
  }
}
